<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        background-image: url("https://mdbootstrap.com/img/Photos/Others/images/79.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        color: black;
      }

      .container {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 80%;
      }
    </style>
  </head>

  <body>
    <%- include('../Screen/Navbar.ejs') -%>
    <div class="container">
      <h1 class="pagination justify-content-center h1 text-dark">Thêm người dùng</h1>
      <form id="SubmitSignUp" class="was-validated">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">UserName:</label>
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="Enter username"
            name="username"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            name="password"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="avatar" class="form-label">Avatar:</label>
          <input
            type="file"
            class="form-control"
            id="avatar"
            placeholder=".Avatar..."
            name="avatar"
            required
            multiple
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3 mt-3">
          <label for="rank" class="form-label">Rank:</label>
          <input
            type="rank"
            class="form-control"
            id="rank"
            placeholder="Enter rank"
            name="rank"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <button
          type="submit"
          class="btn btn-primary d-block mx-auto"
          style="width: 200px"
        >
          SUBMIT
        </button>
      </form>
    </div>
    <script>
      try {
        const SubmitSignUp = document.getElementById("SubmitSignUp");

        SubmitSignUp.addEventListener("submit", (event) => {
          event.preventDefault();
          var form = document.getElementById("SubmitSignUp");
          var formData = new FormData(form);

          fetch("/insert/user", {
            method: "POST",
            body: formData,
          })
            .then((response) => {
              console.log(response);
              alert("Insert successfully !!!");
              window.location.href = "/list";
            })
            .then((data) => {
              console.log(data);
            })
            .catch((err) => {
              console.log(err);
            });
        });
      } catch (error) {
        console.log(error);
      }
    </script>
  </body>
</html>
